:root {
  --gold: #ffd700;
}

body {
  color: var(--black);
}
/* For it to be like the layout in the first screenshot we would have to change box-sizing back to
   content box and to delete the 'display: inline-block' line */
.header,
.section,
.aside {
  box-sizing: border-box;
  padding: 10px;
  border: 4px solid var(--black);
}

.header {
  background-color: var(--blue);
}

.section {
  display: inline-block;
  width: 75%;
  height: 300px;
  background-color: var(--orange);
}

.aside {
  float: right;
  width: 25%;
  height: 300px;
  background-color: var(--gold);
}
